# Copie este conteúdo para um arquivo .env na pasta inovapet-crm

# Supabase
VITE_SUPABASE_URL=https://rpydvmgnquvmwnowcmpp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJweWR2bWducXV2bXdub3djbXBwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY4NDg2NDQsImV4cCI6MjA3MjQyNDY0NH0.9PcLL_QcgnqJqXJ7wKLPbKdN4XMPN6YVELzyLXFRfMk
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJweWR2bWducXV2bXdub3djbXBwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Njg0ODY0NCwiZXhwIjoyMDcyNDI0NjQ0fQ.2Rdo8135PL4oILFxKTOMmTFRb44y26JbOYJhK8moy_g
VITE_EVOLUTION_API_URL=https://evolutionapi.agenciagvcompany.com.br/
VITE_EVOLUTION_API_KEY=3fkUb5AJcvYfXa3eduZLFAhlbkwM6pYB
VITE_WEBHOOK_URL=https://n8n.agenciagvcompany.com.br/webhook-test/crm-nanosync

# Mercado Pago
VITE_MERCADOPAGO_PUBLIC_KEY=APP_USR-4882078f-759d-4327-96c5-8d246d7c27fb
VITE_MERCADOPAGO_ACCESS_TOKEN=APP_USR-7331329523259090-090714-0349a30962081df4455951f64f828e6d-1565856342
MERCADOPAGO_ACCESS_TOKEN=APP_USR-7331329523259090-090714-0349a30962081df4455951f64f828e6d-1565856342
MERCADOPAGO_CLIENT_ID=7331329523259090
MERCADOPAGO_CLIENT_SECRET=7F1w6BSCRUC3m5zmlTrnTOQakbnH9DZE
MERCADOPAGO_WEBHOOK_SECRET=ed7902602ec5a6283f0eb87fc005aa04f8aa28dff04893478a9f44d1baf3875e
